<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= offre.title %>
</p>

<p>
  <strong>Descr:</strong>
  <%= offre.descr %>
</p>

<p>
  <strong>Price:</strong>
  <%= offre.price %>
</p>