<div class="row">
  <div class="col-md-1">&NonBreakingSpace;</div>
  <div class="col-md-7">
    <h3>Les offres près de chez moi !</h3>
    <div class='search-offre'>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-zoom-in"></span></span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
      </div>
      <%= form_tag offres_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
      <% end %>





    </div>
    <table class='offer-container'>
      <tbody>
      <% @offres.each do |offre| %>
          <tr><td>
            <%= render 'offres/offre_home', :offre => offre %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!--<div class="col-md-4"><!%= link_to 'New Offre', new_offre_path, :class => 'btn btn-success btn-lg' %></div>-->
</div>