/** Layout + navbar **/
html, body {
  height: 100%;
  margin:0;
}
#wrapper {
  position: relative;
  min-height: 80%;
  vertical-align:bottom;
  margin:0 auto;
  height:80%;
}
#header {
  width: 100%;
  height: 50px;
  position:absolute;
  left:0;
  top:0;
}
#content {
  margin:0 auto -20px;
  min-height:100%;
  height:auto !important;
  height:80%;
  background-size: 100%;
  background: image_url('perso/EU-Bucketlist-Cover-Photo.jpeg') no-repeat center;
}
#content-spacer-top {
  height:50px;
}
#divFooter {
  width:100%;
  height: 150px;
}

.nav-collapse {
  margin-left: 20em;
}

td{
  vertical-align: text-bottom;
}

.navbar-nav li a, .navbar-align {
  line-height: 25px;
}

.navbar .navbar-nav > li > a {
  height: 50px;
}

/** Register **/
.register-container{
  margin-left: auto;
  margin-right: 30%;
  margin-top: 10px;
}

.register-container tbody {
  background-color: rgba(0, 0, 0, 0) !important;
}

.register-container td {
  background-color: rgba(0, 0, 0, 0) !important;
}
.register-container tr {
  margin-bottom: 2px !important;
}