///** Layout + navbar **/
//html, body {
//  height: 100%;
//  margin:0;
//}
//#wrapper {
//  position: relative;
//  min-height: 80%;
//  vertical-align:bottom;
//  margin:0 auto;
//  height:80%;
//}
//#header {
//  width: 100%;
//  height: 50px;
//  position:absolute;
//  left:0;
//  top:0;
//}
//#content-home {
//  margin:0 auto -20px;
//  min-height:100%;
//  height:auto !important;
//  height:80%;
//  background-size: 100%;
//  background: image_url('perso/EU-Bucketlist-Cover-Photo.jpeg') no-repeat center;
//}
//#content-logged {
//  margin:0 auto -20px;
//  min-height:100%;
//  height:auto !important;
//  height:80%;
//  background-size: 100%;
//}
//#content-spacer-top {
//  height:50px;
//}
//#divFooter {
//  width:100%;
//  height: 150px;
//}

.nav-collapse {
  margin-left: 20em;
}

td{
  vertical-align: text-bottom;
}

.navbar-nav li a, .navbar-align {
  line-height: 25px;
}

.navbar .navbar-nav > li > a {
  height: 50px;
}

/** Register **/
.register-container{
  margin-left: auto;
  margin-right: 30%;
  margin-top: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.register-container-middle{
  margin-left: auto;
  margin-right: 30%;
  margin-top: 100px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.register-container tbody, .register-container-middle tbody {
  background-color: rgba(0, 0, 0, 0) !important;
}

.register-container td, .register-container-middle td {
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 1px 5px;
}

a.deco-none {
  text-decoration:none;
}

a.deco-none:hover{
  background: none !important;
}

.clickable {
  background: none;
  cursor:pointer;
}

/** offre-home **/
.offre-home td{
  background-color: lightgray !important;
  padding: 15px 15px 15px 15px;
}

table.offre-home {
  width: 100%;
}

table.offer-container{
  width: 100%;
}

/* NEW */
#footer {
  position: relative;
  clear:both;
  margin-top: -150px;
  height: 150px
}

html, body {height: 100%;overflow-x: hidden;}

#wrap-home {
  position:relative;
  overflow:hidden;
  height: 600px;
  background: image_url('perso/EU-Bucketlist-Cover-Photo.jpeg') no-repeat center ;
}

#wrap-logged {min-height: 80%}

#main {
//  overflow:auto;
  padding-bottom: 20px
}

* {margin:0;padding:0}